@font-face {
  font-family: RobotoCondensed;
  src: url(assets/roboto-condensed.light.ttf);
  font-weight: 800;
}

@font-face {
  font-family: EconomicaBold;
  src: url(assets/economica-bold.ttf);
}

body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'RobotoCondensed';
}

 h2, h3, h4, h5 {
  font-family: 'EconomicaBold';
  color: white;
}

.tracks{
  width: 250px;
  height: 250px;
  display: inline-block;
  position: relative;
  margin: 20px;
  cursor: pointer;
  transition: transform .2s;
}

 /* zoom tracks */
 
.tracks:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}




.track_image{
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.track_name{
  position: absolute;
  width: 250px;
  bottom: 0px;
  background-color: black;
  color: white;
  padding: 5px;
}

.track_icon{
  position: absolute;
  bottom: 100px;
  left:100px;
  color:white;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 10px;
  opacity: 0.8;
}
.bg_img{
  background-image: url('./assets/woofer-1885354_960_720.png');
  /* max-width: 100%; */
  /* background-repeat: no-repeat;
  background-attachment: fixed */
  background-size:cover;
}

/* ANIMATE */

.example1 {
  height: 50px;	
  overflow: hidden;
  position: relative;
 }
 .example1 h1 {
  font-size: 3em;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: example1 15s linear infinite;
  -webkit-animation: example1 15s linear infinite;
  animation: example1 15s linear infinite;
 }
 /* Move it (define the animation) */
 @-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }
